.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'),
    url(./assets/fonts/SFProDisplay-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'),
    url(./assets/fonts/SFProDisplay-Semibold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'),
    url(./assets/fonts/SFProDisplay-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'),
    url(./assets/fonts/SFProDisplay-Black.ttf) format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'),
    url(./assets/fonts/SFProText-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'),
    url(./assets/fonts/SFProText-Medium.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'),
    url(./assets/fonts/SFProText-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'),
    url(./assets/fonts/SFProText-Bold.ttf) format('truetype');
  font-weight: 900;
}
